.bg-common {
    background: #b9b9b9 url(/resources/photo/melon.jpg) no-repeat fixed;
    background-size: 100% 100%;
}

.welcome-bg {
    background: #b9b9b9 url(/resources/photo/background.jpg) no-repeat fixed;
    background-size: 100% 100%;
}

.welcome-btn {
    width: 200px;
    background: gray;
    border: gray;
}

#welcome-cont {
    position: absolute;
    top: 15%;
    left: 60%;
    width: 300px;
    background: lavender;
    border: 3px solid #fff;
    border-radius: 10px;
}


.user-post-br {
    clear: both;
}

.user-post-position {
    left: 21.5% !important;
}

.user-btn-size {
    width: 20%;
    height: 10%;
}

.user-layer {
    overflow: auto;
    overflow-clip: 100%;
    border: 3px hidden #ffffff;
    border-radius: 10px;
}

.user-label-fixed {
    position: fixed;
    color: gray;
    top: 8%;
    left: 12%;
}

.user-btn-fixed {
    position: fixed;
    background: gray;
    border: gray;
    top: 15%;
    left: 4%;
}

.user-post-scroll {
    overflow: auto;
    height: 12%;
}

.my-col-sm-10 {
    width: 200px !important;
    left: 47px !important;
}

.my-btn-size {
    width: 170px !important;
}

.login-exc-col {
    color: red;
}

#login-main-label {
    color: gray;
}

.frame-container {
    position: absolute;
    top: 40%;
    left: 54%;
    width: 300px;
    background: lavender;
    border: 3px solid #fff;
    border-radius: 10px;
}

#signup-main-label {
    color: gray;
}

.bg-nav {
    background: #929292;
    border: 2px solid lavender;
}

.nav-comp {
    color: #ffffff;
}

.btn-bg {
    background: gray;
    border: gray;
}

.post-textarea-border {
    border: 2px solid #31b0d5;
    border-radius: 6px;
}

.table-stl {
    color: #000000;
}

.tr-stl {
    color: gray;
}

.pre-post {
    background-color: #ffffff;
    border: #ffffff;
    text-align: justify;
}

.post-popup {
    width: 40%;
    height: auto;
    border: 2px solid #66afe9;
    border-radius: 5px;
    overflow: auto;
}


#post-del {
    float:right;
    color: gray;
}

#wrap{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

#mypopup{
    overflow: auto;
    width: 75%;
    height: 85%;
    margin: 50px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 1%;
    bottom: 10%;
    padding: 16px;
    border-radius: 10px;
}

.close{
    margin-left: 364px;
    margin-top: 4px;
    cursor: pointer;
}

.post-popup-img {
    border-radius: 10px;
    border: #ffffff;
    max-height: 100%;
    max-width: 100%;
}

.comment-footer {
    bottom: 0;
}

.comment-textarea {
    width: 60%;
}

.comment-btn {
    background: gray;
    border: gray;
    height: 95px;
}

.time-pos {
    float: right;
}