.my-col-sm-10 {
    width: 200px !important;
    left: 47px !important;
}

.my-btn {
    width: 170px !important;
}

.exc-col {
    color: red;
}

#main-label {
    color: gray;
}



.cont {
    position: absolute;
    top: 400px;
    left: 1030px;
    width: 300px;
    background: lavender;
    border: 3px solid #fff;
    border-radius: 10px;
}

body {
    /*background: url(/resources/foto/melon.jpg);*/
    /*height: 100%;*/
}
