.my-col-sm-10 {
    width: 200px !important;
    left: 41.5% !important;
}

.my-btn {
    width: 170px !important;
}

.exc-col {
    color: red;
}

/*.my-col-sm-2 {*/
    /*left: 30%;*/
/*}*/

/*.container.form-group.col-sm-10*/